<body style="background-color:#e07400;">
<h1><p style="color:white;text-align:center;font-family:arial">Speech to Text</h1>
<form method="post">
    <p style="color:white;text-align:center;font-family:arial">Enter file location: <input name="fyl"> <br><br>
	<p style="color:white;text-align:center;font-family:arial">Enter transcript location: <input name="loca"> <br><br>
	<p style="color:white;text-align:center;font-family:arial">Enter timestamp log location: <input name="log"> <br><br>
	<p style="color:white;text-align:center;font-family:arial">Transcription may take some time.<br><br>
    <p style="color:white;text-align:center;font-family:arial"><button type="submit">Submit</button>
</form>